.reminders-container {
  z-index: 10;
  font-family: sans-serif;
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.reminders {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  max-width: 500px;
  flex: 1;
  font-size: 14px;
  overflow: hidden;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.reminders-date {
  outline: none;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #4576ff;
  font-size: 14px;
}

.reminders-date:focus {
  outline: none;
  caret-color: transparent;
}

.reminders-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid black;
}

.reminders-title {
  white-space: nowrap;
  flex: 1;
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
}

.reminders-image {
  height: 25px;
  margin-right: 10px;
}

.reminders-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.hr {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  margin-top: 10px;
}

.reminders-text-input {
  padding: 0;
  border: 0;
  resize: none;
  width: 100%;
  font-size: inherit;
  outline: none;
}

.reminders-section-title {
  opacity: 0.5;
  white-space: nowrap;
  font-size: 12px;
  margin-bottom: 5px;
}

.reminders-section-control {
  font-weight: bold;
  color: #4576ff;
}

.reminders-recipient {
  font-weight: bold;
  display: flex;
}

.reminders-recipient + .reminders-recipient {
  /* margin-top: 4px; */
}

.close-button {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 4px;
  color: #888;
  font-size: 18px;
}

.close-button:hover {
  color: #777;
}

.reminders-recipient-name:hover {
  text-decoration: line-through;
  cursor: pointer;
}

.add-recipient:hover {
  text-decoration: none;
}

.add-recipient {
  outline: none;
  font-weight: normal;
  font-size: 14px;
  border: none;
  padding: 0;
}

.header-right {
}

.reminders-button {
  cursor: pointer;
  color: white;
  padding: 5px 10px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  background-color: #4576ff;
  border-radius: 3px;
  font-weight: bold;
  white-space: nowrap;
}

.reminders-button:hover {
  background-color: #4576cf;
}

.reminders-button-gray {
  background-color: #999;
}

.reminders-button-gray:hover {
  background-color: #777;
}

.reminders-splitview {
  display: flex;
  position: relative;
  width: 200%;
}

.split1 {
  flex: 1;
  max-height: 400px;
  overflow-y: scroll;
}

.split2 {
  flex: 1;
  position: relative;
  max-height: 400px;
  overflow-y: scroll;
}

.show {
  width: 100%;
}

.hide {
  width: 0%;
}

.reminder + .reminder {
  margin-top: 15px;
}

.reminder-header {
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
}

.reminder-recipients {
  opacity: 0.5;
  margin-left: 5px;
}

.logo {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
  width: 25px;
}

.reminder-recipients {
  cursor: help;
}

.recipient-popover {
  background-color: hsl(0, 0%, 27%);
  color: white;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
}

.Popover {
  z-index: 500;
}

.Popover-tipShape {
  fill: hsl(0, 0%, 27%);
}

#newest-reminder {
  border-radius: 3px;
  animation-name: fade;
  animation-duration: 3s;
  transform: scale(1);
}

@keyframes fade {
  from {
    background-color: gold;
    padding: 5px;
    transform: scale(1.06);
  }
  to {
    padding: 0px;
    background-color: white;
    transform: scale(1);
  }
}

.autocomplete-list {
  margin-top: 5px;
  position: absolute;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  background-color: white;
}

.autocomplete-selected {
  font-weight: bold;
}

.autocomplete-suggestion {
  display: flex;
  padding: 3px;
}

.suggestion-login {
}

.suggestion-name {
  color: #666;
  margin-left: 5px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
textarea,
input,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  height: inherit;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
